.connectioninfo {
  margin: 10px 0;

  span {
    padding-left: 5px;
  }

  .serialinfo {
    text-align: right;
  }
}

.sidebar {
  .timeline {
    margin-bottom: 15px;
  }
}

.subscription {
  margin-bottom: 15px;
}